body {
    font-family: 'Poppins', sans-serif;
}


.padd-1 .nav-item .nav-link.active, .nav-item .nav-link.show{
    border: 1px solid #b7acac;
    border-radius: 17px;
    padding: 0px 25px;
    font-size: 0.8rem;
    background-color: #40673b;
    color: #fff;
    margin-right: 10px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
}
.padd-1 .nav-link{
    border: 1px solid #b7acac;
    border-radius: 17px;
    padding: 0px 25px;
    font-size: 0.8rem;
    color: #000000;
    margin-right: 10px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
}

table.dataTable tbody td {
    padding: 14px 10px;
}

.padd-1 .nav-link:hover{
    background-color: #40673b;
    color: #fff;
}
.table-wid{
    height: 4rem;
}


.table_head{
font-size: 0.8rem;
font-weight: 400;
}

thead{
    border-bottom: 1PX solid #b7acac;
}

.table_body{
    font-size: 0.9rem;
    font-weight: 500;
}
.shop{
    display: none;
}
.nav1{
    display: none;
}
.row{
    margin-right: 0 !important;
}

#manage-product .btn-warning{
    background-color: #40673b;
    border-color: #40673b;
    color: #fff;
    padding: 5px 30px;
}

.table-responsive .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    display: none;
}

.paginate_button .page-link{
    background-color: #40673b;
    border-color: #40673b;
    color: #fff;
}

.sidebar {
    height: 85vh;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0px 2px 8px 0px #C4CAD4;
    /* margin: 1em 0 0 1em; */
    width: 5rem;
}

.sidenavbrand {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: thin solid #F3F4F6;
    margin-bottom: .5rem;
}

.sidenav-options {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.sidenav-options a {
    margin: .5rem 0 1.5rem;
}
.padd-1{
    padding: 1rem;
}
.table-responsive {
    overflow-x: inherit;
    /* -webkit-overflow-scrolling: touch; */
}
.main-heading{
    display: flex;
    justify-content: space-between;
}
.main_content{
    margin: 0;
    padding: 0.5rem 1.5rem;
    justify-content: space-between;
}
.circle {
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}
.icon-name {
    border: 2px solid white;
    width: 7rem;
    position: absolute;
    top: 15%;
    left: 210%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(196, 202, 212, 0.24);
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1;
  }
  
  .circle:hover .icon-name {
    opacity: 1;
    visibility: visible;
  }
  .circle:hover {
    background-color: #d6d2d2;
  }

  .bg-clr{
    background-color: #d6d2d2;
  }

@media (min-width: 300px) and (max-width: 600px) {
    .sidebar {
        height: 10vh;
        position: fixed;
        bottom: 0;
        background-color: #ffffff;
        z-index: 1;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
    }

    .sidenavbrand {
        display: none;
    }

    .sidenav-options {
        padding: unset;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    .page-link{
        margin-bottom: 5rem;
        position: inherit;
    }
    .padd-1{
        padding: 0rem;
    }
    .add-icon img{
        width: 2rem;

    }
    .shop{
        display: none;
    }
    .nav1{
        display: none;
    }
    .add-icon img{
        position: fixed;
        bottom: 5rem;
        right: 1rem;
        width: 2rem;
        z-index: 1;
    }
    .main_content{
        margin: unset;
        padding: unset;
    }
    .icon-name{
        display: none;
    }

}

@media (min-width: 600px) and (max-width: 1000px) {

.padd-1{
    width: 86%;
}

}