body {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    height: 85vh;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0px 2px 8px 0px #C4CAD4;
    width: 5rem;
    /* margin: 1em 0 0 1em; */
    
}

.sidenavbrand {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: thin solid #F3F4F6;
    margin-bottom: .5rem;
}

.sidenav-options {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.sidenav-options a {
    margin: .5rem 0 1.5rem;
}

.silver {
    border: #C4CAD4 thin solid;
    padding: 1.5rem !important;
    margin: 1rem;
    border-radius: 12px;
}

.silver h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}
.price-div h1 {
    font-weight: 600;
}

.padd1{
    padding: 1rem;
}

.amount {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.main-content{   
   padding: 0.5rem 1.5rem;
   justify-content: space-between;
}

.amount h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.amount span {
    padding: 0 1rem !important;
    border-left: #C4CAD4 solid thin;
}

.silver h4 {
    font-size: .9rem;
    font-weight: 400;
    color: #000000;
}

.sub-btn {
    margin: 1.5rem 0;
    width: 100% !important;
    font-weight: 600 !important;
}

.silver-options {
    margin: 1rem 0;
    display: flex;
}

.silver-options img {
    height: 1.5rem;
    margin-right: .5rem;
}

.silver-options p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.gold .btn-warning{
    background-color: #40673b;
    border-color: #40673b;
    color: #fff;
}

.silver .btn-warning{
    background-color: #40673b;
    border-color: #40673b;
    color: #fff;
}

.paltinum {
    border: #C4CAD4 thin solid;
    padding: 1.5rem !important;
    margin: 1rem;
    border-radius: 12px;
    background-color: #40673b;
    border-color: #40673b;
    color: #fff;
    transform: scale(1.05);
}

.paltinum h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.amount {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.amount h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.amount span {
    padding: 0 1rem !important;
    border-left: #000000 solid thin;
}

.paltinum h4 {
    font-size: .9rem;
    font-weight: 400;
    color: #fff;
}

.pl-sub-btn {
    margin: 1.5rem 0;
    width: 100% !important;
    font-weight: 600 !important;
    background-color: #ffffff !important;
    border-color: #ffffff;
}

.pl-sub-btn:hover{
    background-color: #ffffff !important;
    border-color: #ffffff;
}

.paltinum-options {
    margin: 1rem 0;
    display: flex;
}

.paltinum-options img {
    height: 1.5rem;
    margin-right: .5rem;
}

.paltinum-options p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.gold {
    border: #C4CAD4 thin solid;
    padding: 1.5rem !important;
    margin: 1rem;
    border-radius: 12px;
}

.gold h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.amount {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.amount h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.amount span {
    padding: 0 1rem !important;
    border-left: #C4CAD4 solid thin;
}

.gold h4 {
    font-size: .9rem;
    font-weight: 400;
    color: #000000;
}

.gold-options {
    margin: 1rem 0;
    display: flex;
}

.gold-options img {
    height: 1.5rem;
    margin-right: .5rem;
}

.gold-options p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


.shop{
    display: none;
}
.nav1{
    display: none;
}
.circle {
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}
.icon-name {
    border: 2px solid white;
    width: 7rem;
    position: absolute;
    top: 15%;
    left: 210%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(196, 202, 212, 0.24);
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1;
  }
  
  .circle:hover .icon-name {
    opacity: 1;
    visibility: visible;
  }
  .circle:hover {
    background-color: #d6d2d2;
  }
  .bg-clr{
    background-color: #d6d2d2;
  }

@media (min-width: 300px) and (max-width: 520px) {
    .sidebar {
        height: 10vh;
        position: fixed;
        bottom: 0;
        background-color: #ffffff;
        z-index: 1;
        margin: 0;
        width: 100%;
        left: 0;
    right: 0;
    }

    .sidenavbrand {
        display: none;
    }

    .sidenav-options {
        padding: unset;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .data-section {
        height: 90vh !important;
        overflow-y: scroll;
    }

    .price-div h1 {
        text-align: center;
    }

    .silver-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .silver h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: .8rem;
    }

    .amount {
        display: flex;
        width: 56%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .amount h1 {
        font-size: 1rem;
        font-weight: 800;
        margin: 0;
    }
    
    .silver-options p {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: .8rem;
    }
    
    .silver h4 {
        display: none;
    }

    .paltinum {
        transform: scale(1);
    }

    .paltinum-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .paltinum h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: .8rem;
    }

    .paltinum-options p {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: .8rem;
    }

    .paltinum h4 {
        display: none;
    }

    .gold-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .gold h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: .8rem;
    }

    .gold-options p {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: .8rem;
    }

    .gold h4 {
        display: none;
    }
    .navbar-nav{
        font-size: 0.8rem;
    }
    .silver {
        border: #C4CAD4 thin solid;
        padding: 1rem !important;
        margin: 1rem;
        border-radius: 12px;
    }
    .main-content{   
        padding: unset;
     }
     .silver-options {
        margin: unset;
        display: flex;
    }
    .paltinum-options {
        margin: unset;
        display: flex;
    }
    .gold-options {
        margin: unset;
        display: flex;
    }
    .sub-btn {
        margin: unset;
        width: 100% !important;
        font-weight: 600 !important;
    }
    .pl-sub-btn {
        margin: unset;
        width: 100% !important;
        font-weight: 600 !important;
        background-color: #ffffff !important;
    }
    .row {
        margin-bottom: 3rem;
    }
    .price-div h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .icon-name{
        display: none;
    }
    
}
@media (min-width: 521px) and (max-width: 1160px) {

    .data-section {
        height: 90vh !important;
        overflow-y: scroll;
    }

    .price-div h1 {
        text-align: center;
    }

    .silver-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .silver h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: .8rem;
    }

    .amount {
        display: flex;
        width: 56%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .amount h1 {
        font-size: 1rem;
        font-weight: 800;
        margin: 0;
    }
    
    .silver-options p {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: .8rem;
    }
    
    .silver h4 {
        display: none;
    }

    .paltinum {
        transform: scale(1);
    }

    .paltinum-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .paltinum h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: .8rem;
    }

    .paltinum-options p {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: .8rem;
    }

    .paltinum h4 {
        display: none;
    }

    .gold-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .gold h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: .8rem;
    }

    .gold-options p {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: .8rem;
    }

    .gold h4 {
        display: none;
    }
    .padd1{
        width: 83%;
    }




}