.details{
    padding: 2rem;
    margin-right: 4rem;
}
.heading{
    font-size: 2rem;
    width: 86%;
    font-weight: 600;
    margin-left: 2rem;
}
.user-image{
    text-align: center;
    margin-bottom: 1.5rem;
}

input[type="file"]::file-selector-button {
    color: black;
    padding: 0.5em;
   background-color: #40673b;
    border-radius: 3px;
}
label{
    font-weight: 600;
}
.fields{
    margin-top: 2rem;
}
.save-btn{
    float: right;
    width: 6rem;
}

.heading .btn-warning{
    background-color: #40673b;
    border-color: #40673b;
    color: #fff;
}

.main-content{
    margin: 0;
    padding: 0.5rem 1.5rem;
    justify-content: space-between;
}

.fields .btn-warning{
    background-color: #40673b;
    border-color: #40673b;
    color: #fff;
}

.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0px 2px 8px 0px #C4CAD4;
    /* margin: 1em 0 0 1em; */
    width: 5rem;
}

.sidenavbrand {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: thin solid #F3F4F6;
    margin-bottom: .5rem;
}

.sidenav-options {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.sidenav-options a {
    margin: .5rem 0 1.5rem;
}
.cart-icon{
    display: none;
}
.image-input{
    width: 20%; font-size: 0.7rem;
    height: 2rem !important;
}
.bottom-mar{
    margin-bottom: 4rem;
}
.circle {
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}
.icon-name {
    border: 2px solid white;
    width: 7rem;
    position: absolute;
    top: 15%;
    left: 210%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(196, 202, 212, 0.24);
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1;
  }
  
  .circle:hover .icon-name {
    opacity: 1;
    visibility: visible;
  }
  .circle:hover {
    background-color: #d6d2d2;
  }
  .bg-clr{
    background-color: #d6d2d2;
  }



@media (min-width: 300px) and (max-width: 520px) {
    .sidebar {
        height: 10vh;
        position: fixed;
        bottom: 0;
        background-color: #ffffff;
        z-index: 1;
        margin: 0;
        left: 0;
    right: 0;
        width: 100%;
    }

    .sidenavbrand {
        display: none;
    }

    .sidenav-options {
        padding: unset;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    .fields{
        margin-top: 1rem;
    }
    .image-input{
        width: 50%; font-size: 0.7rem;
    }
    .details{
        padding: unset;
        margin-right: 1rem;
    }
    .bottom-mar{
        margin-bottom: 8rem;
    }
    .icon-name{
        display: none;
    }

}
@media (min-width: 600px) and (max-width: 1000px) {

    .padd1{
        width: 83%;
    }

}