body {
    font-family: 'Poppins', sans-serif !important;
}
.shop{
    display: none;
}
.nav1{
    display: none;
}
.padd-1{
    padding: 2rem;
    margin-bottom: 5rem;
    /* overflow-x: scroll; */
}
.text-bold{
    font-weight: 700;
}
.sub-total{
    font-weight: 700;
    color: gray;
}
.row{
    margin-right: 0 !important;
}
.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0px 2px 8px 0px #C4CAD4;
    /* margin: 1em 0 0 1em; */
    width: 5rem;
}

.sidenavbrand {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: thin solid #F3F4F6;
    margin-bottom: .5rem;
}

.sidenav-options {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.sidenav-options a {
    margin: .5rem 0 1.5rem;
}
input{
    width: 100%;
    border: none;
}
input[value] {
    font-weight: 700;
}
.fields-cont{
    color: gray;
    margin: 2rem auto;
    border-right: 1px solid gray;
}
.total{
    display: flex;
    justify-content: space-between;
}
.status-btn{
    position: relative;  
}
.status-btn button{
    position: absolute;
    bottom: 0;
    right: 2rem;
}
.status-btn .btn-warning{
    background-color: #40673b;
    border-color: #40673b;
    color: #fff;
}

.modal-footer .btn-warning{
    background-color: #40673b;
    border-color: #40673b;
    color: #fff;
}

.paginate_button .page-link{
    background-color: #40673b;
    border-color: #40673b;
    color: #fff;
}

.table-responsive .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    display: none;
}


.table-wid .btn-warning{
    background-color: #40673b;
    border-color: #40673b;
    color: #fff;
}

.img-btn{
    border: none;
    background-color: transparent;
    color: #0500FF;
    font-weight: 700;
}
.fade-background{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Adjust the blur radius as needed */
  z-index: 9999; /* Make sure the background appears above other elements */
  pointer-events: none; /* Allow interaction with elements beneath the background */
}
.model-img{
    display: flex;
}
.model-img img{
width: 13rem;
}
.video-tag{
    text-align: center;
}
.circle {
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}
.icon-name {
    border: 2px solid white;
    width: 7rem;
    position: absolute;
    top: 15%;
    left: 210%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(196, 202, 212, 0.24);
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1;
  }
  
  .circle:hover .icon-name {
    opacity: 1;
    visibility: visible;
  }
  .circle:hover {
    background-color: #d6d2d2;
  }
  .main-content{
    margin: 0;
    padding: 0.5rem 1.5rem;
  }
  .font-bold{
    font-weight: 600;
  }

@media (min-width: 250px) and (max-width: 579px) {
    .sidebar {
        height: 10vh;
        position: fixed;
        bottom: 0;
        background-color: #ffffff;
        z-index: 1;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
    }

    .sidenavbrand {
        display: none;
    }

    .sidenav-options {
        padding: unset;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    .page-link{
        margin-bottom: 5rem;
        position: inherit;
    }
    .padd-1{
        padding: 2rem;
        margin-bottom: 5rem;
    }
    .add-icon img{
        width: 2rem;

    }
    .shop{
        display: none;
    }
    .nav1{
        display: none;
    }
    .status-btn{
        position: unset;  
    }
    .status-btn button{
        position: unset;
        bottom: 0;
        right: 0;
    }
    .fields-cont{
        color: gray;
        margin: 1rem auto;
        border-right: 1px solid gray;
    }
    .model-img img{
        width: 8rem;
        }
        .icon-name{
            display: none;
        }
    


}

@media (min-width: 580px) and (max-width: 990px) {
    .status-btn{
        position: unset;  
    }
    .status-btn button{
        position: unset;
        bottom: 0;
        right: 0;
    }
    .fields-cont{
        color: gray;
        margin: 1rem auto;
        border-right: 1px solid gray;
    }
    .model-img img{
        width: 10rem;
        }
        .padd-1{
            width: 83%;
        }

}